.background_siswa{
    -fx-background-image : url('gambar/Siswa.png');
}
.background_admin{
    -fx-background-image : url('gambar/Admin.png');
}
.left_panel{
    -fx-background-color : #D9D9D9;
}
.button_left_panel{
    -fx-background-radius : 5px;
    -fx-background-color : #D9D9D9;
}
/* .button_left_panel> .imageview{
        -fx-image : url('gambar/icon_stage.png');
} */
.button_left_panel:hover{
    -fx-background-color : #FF5C00;
    -fx-text-fill : #ffffff;
}
.button_left_panel:pressed{
    -fx-background-color : #fd965b;
    -fx-text-fill : #ffffff;
}
.background_dashboard{
    -fx-background-image : url('gambar/BGDashboard.png')
}
.fotoprofile{
    -fx-background-color : #FF5C00;
    -fx-background-radius : 20px;
}
.background_soal{
    -fx-background-color : linear-gradient(to top right, #eca761, #9a6d40)
}
.background_header{
    -fx-background-color : transparent;
}
.background_soaltp{
    -fx-background : transparent;
    -fx-background-color : transparent;
}
.button_pg{
    -fx-background-color : #fd965b;
    -fx-text-fill : #ffffff;
    -fx-background-radius : 20px;
}
.button_pg:selected{
    -fx-background-color : #FF5C00;  
}
.button_submit{
    -fx-background-color : #ffffff;
    -fx-text-fill : #000000;
    -fx-border-color : #FF5C00;
    -fx-background-radius : 25px;
    -fx-border-width: 5px;
    -fx-border-radius : 25px;
}  
.button_submit:hover{
    -fx-background-color : #FF5C00;
    -fx-text-fill : #ffffff;
}
.button_submit:pressed{
    -fx-background-color : #fd965b;
}
.background_game_select{
    -fx-background-color : #FFB469;
    -fx-background-radius : 20px;
}
.button_game_select{
    -fx-background-color : #A95B00;
    -fx-background-radius : 10px;
    -fx-text-fill : #ffffff;
}
.button_game_select:hover{
    -fx-background-color :#fd965b;
    -fx-text-fill : #ffffff;
}
.button_game_select:pressed{
    -fx-text-fill : #000000;
}

.headaer_game_select{
    -fx-background-color : #A95B00;
    -fx-background-radius : 30px;
    -fx-text-fill : #ffffff;
}
.button_game_type{
    -fx-background-color : transparent;
    -fx-text-fill : #ffffff;
    -fx-border-color : #ffffff;
}    
.button_game_type:hover{
    -fx-background-color : #F9E6B4;
    -fx-background-opacity : 0.2;
}
.button_game_type:pressed{
    -fx-background-opacity : 0.5;
}
.popup{
    -fx-background-color : #A87645;
    -fx-background-radius : 20px;
}
.transparent{
    -fx-background-color : transparent;
}
.popup_button{
    -fx-background-radius : 20px;
    -fx-background-color : #CCA05A;
}
.button_form{
    -fx-background-color : #ffffff;
    -fx-text-fill : #000000;
    -fx-border-color : #000000;
} 

.button_login{
    -fx-background-color : #ff4800;
    -fx-background-radius : 20px;
    -fx-text-fill : #ffffff;
}
.input_form{
    -fx-background-radius: 14px;
}